{% extends "base.html" %}

{% block meta %}
    <title>Skills - {{ name }}</title>
{% endblock meta %}

{% block content %}
    <main class="container" style="padding-top: 40px;">
        <h2>My Skills</h2>
        {% if skills_list %}
            <ul>
                {% for skill in skills_list %}
                    <li><strong>{{ skill.name }}</strong> ({{ skill.get_category_display }}) - Level: {{ skill.proficiency_level }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Belum ada data skill yang ditambahkan.</p>
        {% endif %}
    </main>
{% endblock content %}